=card($width, $height, $border-radius)
  width: $width
  height: $height
  background: transparent
  position: absolute
  left: 0
  right: 0
  margin: auto
  top: 0
  bottom: 0
  border-radius: $border-radius
  -webkit-border-radius: $border-radius
  -moz-border-radius: $border-radius
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55)