@import 'colors'
@import 'mixins'
@import 'fonts'
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700)
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css)

html, body
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  vertical-align: baseline

*
  box-sizing: border-box
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  vertical-align: baseline
  outline: none

body
  overflow: hidden