@import '../../../../../sass/styles'

.rating
  border: none

.rating > input
  display: none
.rating > label:before
  margin: 5px
  font-size: 1.25em
  display: inline-block
  content: "\f005"
  font-family: FontAwesome

.rating > .half:before
  content: "\f089"
  position: absolute

.rating > label
  color: $gray-1
  float: right

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label
  color: $yellow-1

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label
  color: $yellow-2