<fieldset class="rating">
  <input id="star10" name="rating" type="radio" value="10" [(ngModel)]="rating">
  <label class="full" for="star10" title="10 stars"></label>

  <input id="star9half" name="rating" type="radio" value="9.5" [(ngModel)]="rating">
  <label class="half" for="star9half" title="9.5 stars"></label>

  <input id="star9" name="rating" type="radio" value="9" [(ngModel)]="rating">
  <label class="full" for="star9" title="9 stars"></label>

  <input id="star8half" name="rating" type="radio" value="8.5" [(ngModel)]="rating">
  <label class="half" for="star8half" title="8.5 stars"></label>

  <input id="star8" name="rating" type="radio" value="8" [(ngModel)]="rating">
  <label class="full" for="star8" title="8 stars"></label>

  <input id="star7half" name="rating" type="radio" value="7.5" [(ngModel)]="rating">
  <label class="half" for="star7half" title="7.5 stars"></label>

  <input id="star7" name="rating" type="radio" value="7" [(ngModel)]="rating">
  <label class="full" for="star7" title="7 stars"></label>

  <input id="star6half" name="rating" type="radio" value="6.5" [(ngModel)]="rating">
  <label class="half" for="star6half" title="6.5 stars"></label>

  <input id="star6" name="rating" type="radio" value="6" [(ngModel)]="rating">
  <label class="full" for="star6" title="6 star"></label>

  <input id="star5half" name="rating" type="radio" value="5.5" [(ngModel)]="rating">
  <label class="half" for="star5half" title="5.5 stars"></label>

  <input id="star5" name="rating" type="radio" value="5" [(ngModel)]="rating">
  <label class="full" for="star5" title="5 stars"></label>

  <input id="star4half" name="rating" type="radio" value="4.5" [(ngModel)]="rating">
  <label class="half" for="star4half" title="4.5 stars"></label>

  <input id="star4" name="rating" type="radio" value="4" [(ngModel)]="rating">
  <label class="full" for="star4" title="4 stars"></label>

  <input id="star3half" name="rating" type="radio" value="3.5" [(ngModel)]="rating">
  <label class="half" for="star3half" title="3.5 stars"></label>

  <input id="star3" name="rating" type="radio" value="3" [(ngModel)]="rating">
  <label class="full" for="star3" title="3 stars"></label>

  <input id="star2half" name="rating" type="radio" value="2.5" [(ngModel)]="rating">
  <label class="half" for="star2half" title="2.5 stars"></label>

  <input id="star2" name="rating" type="radio" value="2" [(ngModel)]="rating">
  <label class="full" for="star2" title="2 stars"></label>

  <input id="star1half" name="rating" type="radio" value="1.5" [(ngModel)]="rating">
  <label class="half" for="star1half" title="1.5 stars"></label>

  <input id="star1" name="rating" type="radio" value="1" [(ngModel)]="rating">
  <label class="full" for="star1" title="1 star"></label>
  
  <input id="starhalf" name="rating" type="radio" value="0.5" [(ngModel)]="rating">
  <label class="half" for="starhalf" title="0.5 stars"></label>
</fieldset>