<div class="title" *ngIf="rate">
  <h1>Tu calificación es de {{ rate }}</h1>
</div>

<div class="card">
  <div class="card_left">
    <app-image [image]="(comic$ | async)?.img" [alt]="(comic$ | async)?.alt"></app-image>
  </div>
  <div class="card_right">
    <h1>{{ (comic$ | async)?.title }}</h1>
    <div class="card_right__details">
      <ul>
        <li>{{ (comic$ | async)?.year }}</li>
        <li>{{ (comic$ | async)?.month }}</li>
        <li>{{ (comic$ | async)?.day }}</li>
      </ul>
      <div class="card_right__rating">
        <div class="card_right__rating__stars">
          <app-rating [ratings]="ratings" (rate)="rateComic($event)"></app-rating>
        </div>
      </div>
      <div class="card_right___review">
        <p>The lead character, called 'The Bride,' was a member <br/> of the Deadly Viper Assassination Squad, led by her <br/> lover 'Bill.' Upon realizing she was pregnant with Bill's<br/> child, 'The Bride' decided to escape her life as a killer.<br/> She fled to Texas, met a young man, who, on the day<br/> of their wedding rehearsal was gunned down by....</p>
      </div>
    </div>
  </div>
</div>