@import '../../../sass/styles'

.title
  display: flex
  justify-content: center
  padding-top: 30px
  h1
    font-family: $main-font-family
    font-weight: bold
    font-size: $font-size-1
.card
  +card(800px, 400px, 10px)
  display: flex
  flex-direction: row
  transition: transform .2s
  &:hover
    transform: scale(1.3)
  &_left
    width: 40%
    height: 400px
    overflow: hidden
    background: transparent
    img
      width: 100%
      height: auto
      border-radius: 10px 0 0 10px
      -webkit-border-radius: 10px 0 0 10px
      -moz-border-radius: 10px 0 0 10px
      position: relative
  &_right
    width: 60%
    background: $black
    height: 400px
    border-radius: 0 10px 10px 0
    -webkit-border-radius: 0 10px 10px 0
    -moz-border-radius: 0 10px 10px 0
    h1
      color: white
      font-family: $main-font-family
      font-weight: 400
      text-align: left
      font-size: $font-size-1
      margin: 30px 0 0 0
      padding: 0 0 0 40px
      letter-spacing: 1px
    &__details
      ul
        list-style-type: none
        padding: 0 0 0 40px
        margin: 10px 0 0 0
        li
          display: inline
          color: $gray
          font-family: $main-font-family
          font-weight: 400
          font-size: $font-size-2
          padding: 0 40px 0 0
    &__rating
      &__stars
        position: relative
        right: 160px
        margin: 10px 0 10px 0
    &___review
      p
        color: white
        font-family: $main-font-family
        font-size: $font-size-3
        padding: 0 40px 0 40px
        letter-spacing: 1px
        margin: 10px 0 10px 0
        line-height: 20px
      a
        text-decoration: none
        font-family: $main-font-family
        font-size: $font-size-2
        padding: 0 0 0 40px
        color: $yellow
        margin: 0